
<div class="footer">
    <div class="container"><!-- it will follow same styling as of header-->
      <div class="row">
              
        <!--it contains 4 columns col1 contains text and col2 contain image col3 contains useful links and col4 contains social media links-->
        <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download App for Android and Ios mobile phone.</p>
                 
            <!---add images of play store and appstore in 1st column-->
            <div class="app-logo">
                <img src="<%= asset_path('play-store.png') %>">
                <img src="<%= asset_path('app-store.png') %>">
            </div>   
              
        </div>

        <div class="footer-col-2">
            <img src="<%= asset_path('logo.png') %>">
            <p>Our purpose is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
        </div>

        <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join Affiliate</li>
            </ul>
                  
        </div>

        <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
            </ul>
                  
        </div>
        <!--add horizontal line and copyright text along with clickable link-->
        <hr>
        <a href="" class="copyright">Copyright 2022   - Made with ❤️ by Omar ibn Ahmed ibn Ali</a>
    </div>  
</div>  